<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Shopping List
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <div class="card" (click)='goToNextPage()'>
    <img src="../../assets/imgs/bg-img.jpg" alt="">
    <h1>Programming</h1>
    <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Exercitationem doloribus possimus amet ipsa praesentium
      ea animi, excepturi aliquid, explicabo quas magni in blanditiis. Eius ullam, sapiente cupiditate laborum vel
      repudiandae.</p>
  </div>

</ion-content>